<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Desafio LATAM</span>
</nav>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()" class="m-3">
    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
            <div *ngIf="(forma.get('nombre').errors?.required && forma.get('nombre').touched) || !personaValida['nombre']" class="form-control-feedback">
                Campo obligatorio.
            </div>
            <div *ngIf="forma.get('nombre').errors?.minlength && forma.get('nombre').touched" class="form-control-feedback">
                Debe ingresar mínimo de 3 caracteres.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
            <div *ngIf="(forma.get('apellido').errors?.required && forma.get('apellido').touched) || !personaValida['apellido']" class="form-control-feedback">
                Campo obligatorio.
            </div>
            <div *ngIf="forma.get('apellido').errors?.minlength && forma.get('apellido').touched" class="form-control-feedback">
                Debe ingresar mínimo de 3 caracteres.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Fecha</label>
        <div class="col-md-8">
            <input class="form-control" type="date" formControlName="fecha">
            <div *ngIf="(forma.get('fecha').errors?.required && forma.get('fecha').touched) || !personaValida['fecha']" class="form-control-feedback">
                Campo obligatorio.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="cargando">Guardar</button>
        </div>
    </div>
</form>

<table class="table" >
<table class="table" class="m-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha</th>
            <th scope="col">Edad</th>
            <th scope="col">Mensaje</th>
        </tr>
    </thead>
    <tbody *ngFor="let persona of personas">
        <tr>
            <th scope="row">{{ persona.nombre }}</th>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.fecha |  date:'dd/MM/yyyy' }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.mensaje }}</td>
        </tr>
    </tbody>
</table>